<div class="${theme}" role="presentation">
    
    <link rel="stylesheet" href="${css_path}"/>
    <div class="${css.valuesDiv}">
        <span class="${css.attribute}">Latitude: </span><span data-dojo-attach-point="MagDecLatitude" class="${css.value}"></span><br/>
        <span class="${css.attribute}">Longitude: </span><span data-dojo-attach-point="MagDecLongitude"></span><br/>
        <br/>
        <span class="${css.attribute}">Date: </span><span data-dojo-attach-point="MagDecDate"></span><br/>
        <br/>
        <span class="${css.attribute}">Declination: </span><span data-dojo-attach-point="MagDecDeclination"></span><br/>
        <span class="${css.attribute}">Horizontal Intensity: </span><span data-dojo-attach-point="MagDecHorizontalIntensity"></span><br/>
        <span data-dojo-attach-point="Warning" class="${css.warning}"><br/><br/><br/></span><br/>
        <span class="${css.smallText}">Datum: WGS84<br/>
            Additional information on magnetic declination: <a href="http://geomag.nrcan.gc.ca/mag_fld/magdec-en.php" target="_blank">click here</a><br/>
            Additional information on the World Magnetic Model 2015: <a href="https://www.ngdc.noaa.gov/geomag/WMM/" target="_blank">click here</a>
        </span>
    </div>
</div>